@media only screen and (min-width: 992px) {
  .Angpau {
    bottom: 15vh;
  }
}

@media only screen and (min-width: 768px) {
  .Angpau {
    bottom: 13vh;
  }
  .Quote {
    max-height: 35vh;
  }
}

@media only screen and (max-width: 768px) {
  .Angpau {
    bottom: 0;
  }

  .Quote {
    max-height: 30vh;
  }
}
